<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="00만의 셀렉샵">
    <meta property="og:description" content="관심상품을 선택하고, 최저가 알림을 확인해보세요!">
    <meta property="og:image" content="images/og_selectshop.png">
    <link href="https://fonts.googleapis.com/css2?family=family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="basic.js"></script>
    <title>나만의 셀렉샵</title>
</head>

<body>
<div class="background-header">
</div>
<div class="background-body">

</div>
<div class="wrap">
    <div class="header">
        <a th:if="${username}" id="logout-text" href="/user/logout">
            로그아웃
        </a>
        <a th:unless ="${username}" id="login-text" href="/user/login">
            로그인
        </a>
        <a th:unless ="${username}" id="signup-text" href="/user/signup">
            회원가입
        </a>


        <h2>항해99 바다 위 대나무숲<br><br>
            <li th:if="${username}"><span th:text="${username}"></span> 님,<br><br></li>
            맘껏 외치세요 무야호!
        </h2>
    </div>
    <div class="to-write">
        <li>
            <button type="button" class="btn btn-primary" onclick="location.href='write.html'"><b>글 쓰 기</b></button>
        </li>
    </div>
    <div id="cards-box" class="area-read">
        <div class="card">
            <div class="metadata">
                <div class="date">
                    October 10, 2020
                </div>
                <div class="name">
                    anonymous
                </div>
            </div>
            <h2>asd</h2>
            <div class="contents">
                <div id="1-contents" class="text">
                    dsafnkalfklewakflekelafkleajfkleafkldsankflenwaklfnekwlafneklwanfkelawnfkelanfkleanfklew
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>